@font-face {
    font-family: 'Svendborg Erhvervsskole';
    font-style: normal;
    font-weight: 100;
    src: url("Museo/MuseoSans_100.otf") format("opentype");
}

@font-face {
    font-family: 'Svendborg Erhvervsskole';
    font-style: normal;
    font-weight: 300;
    src: url("Museo/MuseoSans_300.otf") format("opentype");
}

@font-face {
    font-family: 'Svendborg Erhvervsskole';
    font-style: normal;
    font-weight: 500;
    src: url("Museo/MuseoSans_500.otf") format("opentype");
}

@font-face {
    font-family: 'Svendborg Erhvervsskole';
    font-style: normal;
    font-weight: 700;
    src: url("Museo/MuseoSans_700.otf") format("opentype");
}

@font-face {
    font-family: 'Svendborg Erhvervsskole';
    font-style: normal;
    font-weight: 900;
    src: url("Museo/MuseoSans_900.otf") format("opentype");
}

p {
    font-family: 'Svendborg Erhvervsskole';
    font-weight: 100;
}

h1 {
    font-family: 'Svendborg Erhvervsskole';
    font-weight: 900;
}

h2 {
    font-family: 'Svendborg Erhvervsskole';
    font-weight: 700;
}

h3 {
    font-family: 'Svendborg Erhvervsskole';
    font-weight: 500;
}

h4 {
    font-family: 'Svendborg Erhvervsskole';
    font-weight: 300;
}

.nav {
    object-fit: contain;
}

.nav li {
    text-align: center;
    list-style: none;
    font-family: 'Svendborg Erhvervsskole';
    font-weight: 400;
    font-size: 60%;
}

#tlf {
    display: inline-flex;
    position: relative;
    float: left;
}

#brobygning,
#medarbejder,
#job,
#presse,
#skoler,
#kontakt {
    display: inline-flex;
    position: relative;
    float: right;
    padding-right: 3%;
}

.nav2 {
    overflow: hidden;
}

.nav2 li {
    list-style: none;
    text-align: center;
    font-family: 'Svendborg Erhvervsskole';
    font-weight: 500;
    font-size: 100%;
    display: inline;
}

#logo {
    width: 40%;
    height: 40%;
    display: inline-flex;
    float: left;
}

#journal,
#mødelev,
#værktøj,
#opgaven {
    display: inline-flex;
    float: right;
    position: relative;
    padding: 2%3%2%2%;
}

#SESG {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#spacer {
    padding: 1%1%1%1%;
}

#beskrivelse {
    margin-left: 0%;
    padding-left: 3%;
    padding-right: 3%;
    word-break: break-all;
}

#skema {
    padding-left: 3%;
    padding-right: 3%;
    word-break: break-all;
}

#spacerLine {
    border-bottom: 1px solid grey;
}

#videoplayer {
    padding-top: 2%;
    column-count: 3;
}

table 
{
    width: 100%;
    text-align: center;
    

}

th td 
{
   
}


    
#elevtext 
{
    text-align: left; 
    width: 80%
    
}
#QRkode
{
 position: relative;
    right: 0%;
    text-align: center;
 
    
}

#elev 
{
    display: inline-flex;
}


/*FOOTER START*/

#footerTop {
    padding-left: 6%;
    padding-right: 6%;
}

.footerTop {
    display: flex;
    background-color: lightgray;
}

.footerBtm {
    padding-top: 2%;
    background-color: darkslategray;
}

.footerBtm2 {
    display: flex;
}
#footerBtm {
    padding-left: 6%;
    padding-right: 6%;
}


/*FOOTER SLUT*/
