@font-face {
    font-family: 'Svendborg Erhvervsskole';
    font-style: normal;
    font-weight: 100;
    src: url("Museo/MuseoSans_100.otf") format("opentype");
}

@font-face {
    font-family: 'Svendborg Erhvervsskole';
    font-style: normal;
    font-weight: 300;
    src: url("Museo/MuseoSans_300.otf") format("opentype");
}

@font-face {
    font-family: 'Svendborg Erhvervsskole';
    font-style: normal;
    font-weight: 500;
    src: url("Museo/MuseoSans_500.otf") format("opentype");
}

@font-face {
    font-family: 'Svendborg Erhvervsskole';
    font-style: normal;
    font-weight: 700;
    src: url("Museo/MuseoSans_700.otf") format("opentype");
}

@font-face {
    font-family: 'Svendborg Erhvervsskole';
    font-style: normal;
    font-weight: 900;
    src: url("Museo/MuseoSans_900.otf") format("opentype");
}

label {
    font-family: 'Svendborg Erhvervsskole';
    font-weight: 300;
}

p {
    font-family: 'Svendborg Erhvervsskole';
    font-weight: 100;
}

h1 {
    font-family: 'Svendborg Erhvervsskole';
    font-weight: 900;
}

h2 {
    font-family: 'Svendborg Erhvervsskole';
    font-weight: 700;
}

h3 {
    font-family: 'Svendborg Erhvervsskole';
    font-weight: 500;
}

h4 {
    font-family: 'Svendborg Erhvervsskole';
    font-weight: 300;
}

li {
    font-family: 'Svendborg Erhvervsskole';
    font-weight: 100;
}

.nav {
    object-fit: contain;
}

.nav li {
    text-align: center;
    list-style: none;
    font-family: 'Svendborg Erhvervsskole';
    font-weight: 400;
    font-size: 60%;
    display: inline;
}

#tlf {
    display: inline-flex;
    position: relative;
    float: left;
}

#brobygning,
#medarbejder,
#job,
#presse,
#skoler,
#kontakt {
    display: inline-flex;
    position: relative;
    float: right;
    padding-right: 3%;
}

.nav2 {
    overflow: hidden;
}

.nav2 li {
    list-style: none;
    text-align: center;
    font-family: 'Svendborg Erhvervsskole';
    font-weight: 500;
    font-size: 100%;
}

#logo {
    width: 40%;
    height: 40%;
    display: inline-flex;
    float: left;
}

#journal,
#mødelev,
#værktøj,
#opgaven {
    display: inline-flex;
    float: right;
    position: relative;
    padding: 2%3%2%2%;
}

#seindlæg,
#opretindlæg,
#tjekliste,
#logud {
    display: inline-flex;
    float: right;
    position: relative;
    padding: 0%3%0%2%;
}

#SESG {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#spacer {
    padding: 1%1%1%1%;
}

#beskrivelse {
    margin-left: 0%;
    padding-left: 3%;
    padding-right: 3%;
    word-break: break-all;
}

#skema {
    padding-left: 3%;
    padding-right: 3%;
    word-break: break-all;
}

#spacerLine {
    border-bottom: 1px solid grey;
}

/*MATERIALE VIDEOER START*/
#videoplayer {
    padding-top: 2%;
    column-count: 3;
}

table {
    width: 100%;
    text-align: center;
}

th td {}

/* MATERIALE VIDEOER SLUT*/

/*ELEV VIDEOR START*/

#elevtext {
    text-align: left;
    width: 80%
}

#QRkode {
    position: relative;
    right: 0%;
    text-align: center;
}

#elev {
    display: inline-flex;
}
/*ELEV VIDEOER SLUT */

/*NOTESBOG START*/

#notesbog {
    align-content: left;
}


/*NOTESBOG SLUT*/

/*OPRET START*/

#input {
    resize: none;
}

#inputTitel{
    resize:none; 
}

#send{
    background-color: white;
    border: none;
    color: #455b6e;
    padding: 15px 32px;
    margin-left: 72%;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    transition-duration: 0.4s;
    
}

#send:hover {
    background-color: #455b6e;
    color: white;
}


.btn btn-primary{
    background-color: white;
    border: none;
    color: #455b6e;
    padding: 15px 32px;
    margin-left: 72%;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    transition-duration: 0.4s;
    
}

.btn btn-primary:hover {
    background-color: #455b6e;
    color: white;
}



/*OPRET SLUT*/


/*INDEX START*/

#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    /*Half the value of width to center div*/
    margin-top: -250px;
    /*Half the value of height to center div*/
    z-index: 200;
    border-style: solid;
    border-color: #455b6e;
    border-width: thin;
}

.popupcontent {
    text-align: left;
    padding: 2%4%4%2%;
}

.popupcontent input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.popupcontent input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.popupcontent input[type=button] {
    width: 100%;
    background-color: #49839e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popupcontent input[type=button]:hover {
    background-color: #455b6e;
}

.closepopup {
    background-color: white;
    border: none;
    color: #455b6e;
    padding: 2%2%2%2% text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 40px;
    transition-duration: 0.4s;
}

.closepopup:hover {
    background-color: #455b6e;
    color: white;
}

#logologin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    padding: 2%2%2%2%;
}

#loginBtn {
    background-color: white;
    border: none;
    color: #455b6e;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    transition-duration: 0.4s;
}

#loginBtn:hover {
    background-color: #455b6e;
    color: white;
}


/*INDEX SLUT*/


/*TJEKLISTE START*/

#moreChecks {
    margin-top: 3%;
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    color: #455b6e;
    transition-duration: 0.4s;
}

#moreChecks:hover {
    background-color: #455b6e;
    color: white;
}


/*TJEKLISTE SLUT*/


/*SE INDLÆG START*/

#fotos img {
    width: 50%;
    height: 50%;
    display: grid;
    padding: 0.2%0.2%0.2%0.2%;
}


/*SE INDLÆG SLUT*/


/*FOOTER START*/

#footerTop {
    padding-left: 6%;
    padding-right: 6%;
}

.footerTop {
    display: flex;
    background-color: #d9dee2;
    color: #455b6e;
}

#overlay {
    background-color: rgba(51, 51, 51, 0.5);
    padding-top: 2%;
}

.footerBtm {
    background-color: #3f5c6f;
    background-repeat: no-repeat;
    background-image: url(https://sesg.dk/wp-content/uploads/2021/10/Gitter.svg);
    background-size: 200% 200%;
    background-position: 50% 0%;
    background-attachment: scroll;
}

#footerImg {
    padding-left: 6%;
    width: 30%;
}

.footerBtm2 {
    display: flex;
}

#footerBtm {
    padding-left: 6%;
    padding-right: 6%;
}

#footerBtm h4 {
    color: white;
}


/*FOOTER SLUT*/
