@font-face {
    font-family: 'Svendborg Erhvervsskole';
    font-style: normal;
    font-weight: 100;
    src: url("Museo/MuseoSans_100.otf") format("opentype");
}

@font-face {
    font-family: 'Svendborg Erhvervsskole';
    font-style: normal;
    font-weight: 300;
    src: url("Museo/MuseoSans_300.otf") format("opentype");
}

@font-face {
    font-family: 'Svendborg Erhvervsskole';
    font-style: normal;
    font-weight: 500;
    src: url("Museo/MuseoSans_500.otf") format("opentype");
}

@font-face {
    font-family: 'Svendborg Erhvervsskole';
    font-style: normal;
    font-weight: 700;
    src: url("Museo/MuseoSans_700.otf") format("opentype");
}

@font-face {
    font-family: 'Svendborg Erhvervsskole';
    font-style: normal;
    font-weight: 900;
    src: url("Museo/MuseoSans_900.otf") format("opentype");
}

p {
    font-family: 'Svendborg Erhvervsskole';
    font-weight: 100;
}

h2 {
    font-family: 'Svendborg Erhvervsskole';
    font-weight: 900;
}

.nav li {
    text-align: center;
    list-style: none;
    font-family: 'Svendborg Erhvervsskole';
    font-weight: 400;
    font-size: 60%;
}

#tlf {
    display: inline-flex;
    position: relative;
    float: left;
    padding-left: 3%;
}

#brobygning,
#medarbejder,
#job,
#presse,
#skoler,
#kontakt {
    display: inline-flex;
    position: relative;
    float: right;
    padding-right: 3%;
}

.nav2 li {
    list-style: none;
    text-align: center;
    font-family: 'Svendborg Erhvervsskole';
    font-weight: 500;
    font-size: 100%;
    display: inline;
}

#logo {
    width: 40%; 
    height: 40%;
    display: inline-flex;
    float: left;
}

#journal, #mødelev, #værktøj, #materialer, #opgaven {
    display: inline-flex;
    float: right;
    position: relative; 
    padding: 2%2%2%2%;
}

#spacer {
    padding: 1%1%1%1%;
}